@import "cambios";

body {
    font-family: 'Amatic SC', cursive;
    font-size: 1.3rem;
    background-color: map-get($color, fondo);
}


.menu {
    div {
        justify-content: center;
        ul {
            @include navbar;
            a:hover {
                color:$colorNav-hover
            }
        }
    }
}


@mixin galeriaImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.materiales__galeria {
    img {
        @include galeriaImg;
    }
}

.lista {
    list-style-type: none;
}

$navBoreder:(
    borde: solid 5px black,
);

.borderColor {
    border: map-get($navBoreder, borde);
}

@media (max-width: 992px) {
    .logo2 {
        display: none;
    }
}

@media (min-width: 1200px) {
    .bordeDiv {
        border-right: solid 4px black;
    }
}