@import "colores";

body {
    font-family: 'Amatic SC', cursive;
    font-size: 1.3rem;
}

.materiales__galeria {
    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}

.lista {
    list-style-type: none;
}

.inicio {
    color: aqua;
}

.navInicio {
    li {
        a {
            color: $colorNav;
            &:hover{
                color: $colorNav-hover;
            }
        }
    }
}




