@import "colores";

body {
    font-family: 'Amatic SC', cursive;
    font-size: 1.3rem;
    background-color: map-get($color, fondo);
}

@mixin galeriaImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.materiales__galeria {
    img {
        @include galeriaImg;
    }
}

.lista {
    list-style-type: none;
}


.navInicio {
    li {
        a {
            color: black;
            &:hover{
                color: $colorNav-hover;
            }
        }
    }
}

$navBoreder:(
    borde: solid 5px black,
);

.borderColor {
    border: map-get($navBoreder, borde);
}

